_target_: src.models.gp.SVGPDynamicModel
_convert_: all
likelihood:
  _target_: gpytorch.likelihoods.MultitaskGaussianLikelihood
  num_tasks: ${output_dim}
  # _target_: gpytorch.likelihoods.GaussianLikelihood
  # batch_shape:
  #   - ${output_dim}
mean_module:
  _target_: gpytorch.means.ConstantMean
  batch_shape: ${output_dim}
covar_module:
  _target_: gpytorch.kernels.ScaleKernel
  base_kernel:
    _target_: gpytorch.kernels.RBFKernel
    ard_num_dims: ${input_dim}
    batch_shape:
      - ${output_dim}
  batch_shape:
    - ${output_dim}
learning_rate: 0.1
trainer:
  _target_: pytorch_lightning.Trainer
  logger:
    _target_: pytorch_lightning.loggers.WandbLogger
    project: ${wandb.project}
    log_model: "all"
  callbacks:
    - _target_: pytorch_lightning.callbacks.EarlyStopping
      monitor: "train_loss"
      # monitor: "val_loss"
      mode: "min"
      min_delta: 0.00
      patience: 50
      verbose: False
  max_epochs: 1000
delta_state: True
num_workers: 8
# num_iterations: 1000
# batch_size: 64
# max_epochs: 1000
